<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tianji.blockchain">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />


    <uses-permission android:name="android.permission.USE_FINGERPRINT" />


    <application
        android:name=".WalletApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <!--合约列表-->
        <activity
            android:name=".activity.smartcontract.SmartContractListActivity"
            android:screenOrientation="portrait" />
        <!--搜索DAPP-->
        <activity
            android:name=".activity.searchdapp.SearchDappActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- DAPP列表 -->
        <activity
            android:name=".activity.dapplist.DappListActivity"
            android:screenOrientation="portrait" />
        <!-- 共用网页 -->
        <activity
            android:name=".activity.commonwebview.CommonWebviewActivity"
            android:screenOrientation="portrait" />
        <!-- DAPP详情 -->
        <activity
            android:name=".activity.dappdetail.DappDetailActivity"
            android:screenOrientation="portrait" />
        <!--欢迎页面-->
        <activity
            android:name=".activity.home.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 转账 -->
        <activity
            android:name=".activity.transfer.TransferActivity"
            android:screenOrientation="portrait" />
        <!-- 地址簿 -->
        <activity
            android:name=".activity.main.AddressBookActivity"
            android:screenOrientation="portrait" />
        <!-- 编辑地址 -->
        <activity
            android:name=".activity.main.EditAddressActivity"
            android:screenOrientation="portrait" />
        <!-- 地址详情 -->
        <activity
            android:name=".activity.main.AddressDetailsActivity"
            android:screenOrientation="portrait" />
        <!--资产首页-->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <!-- 收款 -->
        <activity
            android:name=".activity.collect.CollectActivity"
            android:screenOrientation="portrait" />
        <!-- 资产详情 -->
        <activity
            android:name=".activity.assets.AssetsDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 交易详情 -->
        <activity
            android:name=".activity.assets.TransferDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 首页 -->
        <activity
            android:name=".activity.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <!-- 添加钱包选择钱包种类 -->
        <activity
            android:name=".activity.createwallet.SelectWalletTypeActivity"
            android:screenOrientation="portrait" />
        <!-- 创建钱包成功 -->
        <activity
            android:name=".activity.createwallet.CreateWalletSuccessActivity"
            android:screenOrientation="portrait" />
        <!-- 抄写助记词 -->
        <activity
            android:name=".activity.createwallet.BackUpMnemonicActivity"
            android:screenOrientation="portrait" />
        <!-- 验证助记词 -->
        <activity
            android:name=".activity.createwallet.VerificationMnemonicActivity"
            android:screenOrientation="portrait" />
        <!--钱包管理-->
        <activity
            android:name=".activity.main.WalletManagerActivity"
            android:screenOrientation="portrait" />
        <!--钱包详情-->
        <activity
            android:name=".activity.main.WalletDetailsActivity"
            android:screenOrientation="portrait" />
        <!--导出keystore-->
        <activity
            android:name=".activity.main.ExportKeystoreActivity"
            android:screenOrientation="portrait" />
        <!--修改密码-->
        <activity
            android:name=".activity.main.EditPasswordActivity"
            android:screenOrientation="portrait" />
        <!--扫一扫-->
        <activity
            android:name=".activity.sacn.MipcaActivityCapture"
            android:screenOrientation="portrait" />
        <!--关于我们-->
        <activity
            android:name=".activity.aboutus.AboutUsActivity"
            android:screenOrientation="portrait" />
        <!--帮助中心-->
        <activity
            android:name=".activity.aboutus.HelpCenterActivity"
            android:screenOrientation="portrait" />
        <!--详细的帮助页面-->
        <activity
            android:name=".activity.aboutus.HelpDetailsActivity"
            android:screenOrientation="portrait" />
        <!--帮助的更多页面-->
        <activity
            android:name=".activity.aboutus.HelpMoreActivity"
            android:screenOrientation="portrait" />
        <!--消息列表页面-->
        <activity
            android:name=".activity.information.InformationListActivity"
            android:screenOrientation="portrait" />
        <!--消息详情界面-->
        <activity
            android:name=".activity.information.InfomationDetailsActivity"
            android:screenOrientation="portrait" />
        <!--备份助记词成功界面-->
        <activity
            android:name=".activity.createwallet.VerificationSuccessActivity"
            android:screenOrientation="portrait" />
        <!--服务协议-->
        <activity
            android:name=".activity.createwallet.ServiceAgreementActivity"
            android:screenOrientation="portrait" />
        <!--选择添加方式-->
        <activity
            android:name=".activity.createwallet.SelectAddWalletTypeActivity"
            android:screenOrientation="portrait" />
        <!--创建钱包步骤1-->
        <activity
            android:name=".activity.createwallet.CreateWalletStepOneActivity"
            android:screenOrientation="portrait" />
        <!--创建钱包步骤2-->
        <activity
            android:name=".activity.createwallet.CreateWalletStepTwoActivity"
            android:screenOrientation="portrait" />
        <!--创建钱包步骤3-->
        <activity
            android:name=".activity.createwallet.CreateWalletStepThreeActivity"
            android:screenOrientation="portrait" />
        <!--助记词导入界面-->
        <activity
            android:name=".activity.importwallet.ImportWalletByMnemonicActivity"
            android:screenOrientation="portrait" />
        <!--私钥导入界面-->
        <activity
            android:name=".activity.importwallet.ImportWalletByPrivateKeyActivity"
            android:screenOrientation="portrait" />
        <!--keyStore导入界面-->
        <activity
            android:name=".activity.importwallet.ImportWalletByKeyStoreActivity"
            android:screenOrientation="portrait" />
        <!--系统设置界面-->
        <activity
            android:name=".activity.aboutus.SettingActivity"
            android:screenOrientation="portrait" />
        <!--语言设置界面-->
        <activity
            android:name=".activity.aboutus.LanguageActivity"
            android:screenOrientation="portrait" />
        <!--货币设置界面-->
        <activity
            android:name=".activity.aboutus.CurrencyActivity"
            android:screenOrientation="portrait" />
        <!--开发者选项界面-->
        <activity
            android:name=".activity.aboutus.DeveloperActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tianji.blockchain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>


</manifest>